
# local kubeconfig
kubeconfig-plane


# Terraform local state and cache
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log

# local runtime overrides with sensitive connection URLs
helm/plane/values/dev.runtime.local.yaml

